
@font-face {font-family: "Eicons";
  src: url('iconfont.eot?t=1513060666238'); /* IE9*/
  src: url('iconfont.eot?t=1513060666238#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1513060666238') format('woff'),
  url('iconfont.ttf?t=1513060666238') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1513060666238#Eicons') format('svg'); /* iOS 4.1- */
}

.Eicons {
  font-family:"Eicons" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-liuliang:before { content: "\e600"; }

.icon-water:before { content: "\e60f"; }

.icon-rain-full:before { content: "\e7c5"; }

